{% include 'partials/_top.html' %}
	
<!-- navigation -->
{% include 'partials/_nav.html' %}

<!-- home section -->
{% include 'partials/_homesec.html' %}

<!-- service section -->
{% include 'partials/_servicesec.html' %}

<!-- divider section -->
{% include 'partials/_divider.html' %}

<!-- about section -->
{% include 'partials/_about.html' %}

<!-- divider section -->
{% include 'partials/_divider.html' %}

<!-- team section -->
{% include 'partials/_teams.html' %}

<!-- divider section -->
{% include 'partials/_divider.html' %}

<!-- portfolio section -->
{% include 'partials/_portfolio.html' %}

<!-- divider section -->
{% include 'partials/_divider.html' %}

<!-- pricing section -->
{% include 'partials/_pricing.html' %}

<!-- divider section -->
{% include 'partials/_divider.html' %}

<!-- contact section -->
{% include 'partials/_contact.html' %}

<!-- divider section -->
{% include 'partials/_divider.html' %}

<!-- footer section -->
{% include 'partials/_footer.html' %}

<!-- divider section -->
{% include 'partials/_divider.html' %}

<!-- copyright section -->
{% include 'partials/_copyright.html' %}


<!-- scrolltop section -->
<a href="#top" class="go-top"><i class="fa fa-angle-up"></i></a>


<!-- javascript js -->	
{% include 'partials/_bottom.html' %}
