{% extends 'layout.html' %}
{% load static %}
{% block content %}
<!-- home section -->
{% include 'partials/_homesec.html' %}

<!-- divider section -->
{% include 'partials/_divider.html' %}

<!-- about section -->
{% include 'partials/_about.html' %}

<!-- divider section -->
{% include 'partials/_divider.html' %}

<!-- team section -->
{% include 'partials/_referance.html' %}

<!-- divider section -->
{% include 'partials/_divider.html' %}

<!-- portfolio section -->
{% include 'partials/_portfolio.html' %}

<!-- divider section -->
{% include 'partials/_divider.html' %}

<!-- divider section -->
{% include 'partials/_divider.html' %}

<!-- contact section -->
{% include 'partials/_contact.html' %}

<!-- divider section -->
{% include 'partials/_divider.html' %}


{% endblock %}
