{% extends 'layout.html' %}
{% load static %}
{% block content %}
<div id="pricing">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12" style="margin-top:50px;">
				<h2>Our Pricing</h2>
			</div>
			{% for plan in plans %}
			<div class="col-md-4 col-sm-6 col-xs-10">
				<div class="plan">
					<div class="plan-title">
						<h3>{{ plan.title }}</h3>
						<small>Fiyatlandırma için lütfen bizimle iletişime geçin</small>
					</div>
					<ul>
						<li>{{ plan.property1 }}</li>
						<li>{{ plan.property2 }}</li>
						<li>{{ plan.property3 }}</li>
						<li>{{ plan.property4 }}</li>
					</ul>
					<button class="btn btn-warning">Sign Up</button>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}