{% extends 'layout.html' %}
{% load static %}
{% block content %}
<div id="service">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<h2>Our Workflow</h2>
			</div>
			<div class="col-md-4 col-sm-4">
				<i class="fa fa-cubes"></i>
				<h3>{{ service.title1 }}</h3>
				<p>{{ service.content1 }}</p>
			</div>
			<div class="col-md-4 col-sm-4">
				<i class="fa fa-cogs"></i>
				<h3>{{ service.title2 }}</h3>
				<p>{{ service.content2 }}<a rel="nofollow" href="http://fortawesome.github.io/Font-Awesome/examples/" target="_parent">examples</a>.</p>
			</div>
			<div class="col-md-4 col-sm-4">
				<i class="fa fa-group"></i>
				<h3>{{ service.title3 }}</h3>
				<p>{{ service.content3 }}</p>
			</div>
		</div>
	</div>
</div>
{% endblock %}