<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-sm-6">
				<h2>Our Office</h2>
				<p>Adres: {{ADDRESS}}</p>
				<p>Email: <span>{{EMAIL}}</span></p>
				<p>Phone: <span>{{NUMBER}}</span></p>
			</div>
			<div class="col-md-6 col-sm-6">
				<h2>Social Us</h2>
				<ul class="social-icons">
					{% if INSTAGRAM %}
					<li><a href="{{INSTAGRAM}}" target="_blank" class="fa fa-instagram"></a></li>
					{% endif %}
					{% if FACEBOOK %}
					<li><a href="{{FACEBOOK}}" target="_blank" class="fa fa-facebook"></a></li>
					{% endif %}
					{% if TWITTER %}
					<li><a href="{{TWITTER}}" target="_blank" class="fa fa-twitter"></a></li>
					{% endif %}
				</ul>
			</div>
		</div>
	</div>
</footer>
<div class="copyright">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<p>Copyright &copy; 2016 Minimax Digital Firm 
                
                - Design: <a rel="nofollow" href="http://www.tooplate.com" target="_parent">Tooplate</a></p>
			</div>
		</div>
	</div>
</div>
