<div id="portfolio">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<div class="title">
					<h2>Our Portfolio</h2>
				</div>
				<!-- ISO section -->
				<div class="iso-section">
					<ul class="filter-wrapper clearfix">
                   		 <li><a href="#" data-filter="*" class="selected opc-main-bg">All</a></li>
                   		 <li><a href="#" class="opc-main-bg" data-filter=".html">HTML</a></li>
                   		 <li><a href="#" class="opc-main-bg" data-filter=".photoshop">Photoshop</a></li>
                    	 <li><a href="#" class="opc-main-bg" data-filter=".wordpress">Wordpress</a></li>
                    	 <li><a href="#" class="opc-main-bg" data-filter=".mobile">Mobile</a></li>
               		</ul>
               		<div class="iso-box-section">
               			<div class="iso-box-wrapper col4-iso-box">

               				<div class="iso-box html photoshop wordpress mobile col-md-4 col-sm-6 col-xs-12">
               				 	<a href="static/img/portfolio-img1.jpg" data-lightbox-gallery="portfolio-gallery"><img src="static/img/portfolio-img1.jpg" alt="portfolio img"></a>
               				 </div>

               				 <div class="iso-box html wordpress mobile col-md-4 col-sm-6 col-xs-12">
               				 	<a href="static/img/portfolio-img2.jpg" data-lightbox-gallery="portfolio-gallery"><img src="static/img/portfolio-img2.jpg" alt="portfolio img"></a>
               				 </div>

               				 <div class="iso-box wordpress col-md-4 col-sm-6 col-xs-12">
               				 	<a href="static/img/portfolio-img3.jpg" data-lightbox-gallery="portfolio-gallery"><img src="static/img/portfolio-img3.jpg" alt="portfolio img"></a>
               				 </div>

               				 <div class="iso-box html mobile col-md-6 col-sm-6 col-xs-12">
               				 	<a href="static/img/portfolio-img4.jpg" data-lightbox-gallery="portfolio-gallery"><img src="static/img/portfolio-img4.jpg" alt="portfolio img"></a>
               				 </div>

               				 <div class="iso-box wordpress col-md-6 col-sm-6 col-xs-12">
               				 	<a href="static/img/portfolio-img5.jpg" data-lightbox-gallery="portfolio-gallery"><img src="static/img/portfolio-img5.jpg" alt="portfolio img"></a>
               				 </div>

               				 <div class="iso-box html photoshop col-md-4 col-sm-6 col-xs-12">
               				 	<a href="static/img/portfolio-img6.jpg" data-lightbox-gallery="portfolio-gallery"><img src="static/img/portfolio-img6.jpg" alt="portfolio img"></a>
               				 </div>

               				 <div class="iso-box photoshop col-md-4 col-sm-6 col-xs-12">
               				 	<a href="static/img/portfolio-img7.jpg" data-lightbox-gallery="portfolio-gallery"><img src="static/img/portfolio-img7.jpg" alt="portfolio img"></a>
               				 </div>

               				 <div class="iso-box wordpress col-md-4 col-sm-6 col-xs-12">
               				 	<a href="static/img/portfolio-img8.jpg" data-lightbox-gallery="portfolio-gallery"><img src="static/img/portfolio-img8.jpg" alt="portfolio img"></a>
               				 </div>

               			</div>
               		</div>

				</div>
			</div>
		</div>
	</div>
</div>		