{% load static %}
<div id="portfolio">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<div class="title">
					<h2>Our Portfolio</h2>
				</div>
				<!-- ISO section -->
				<div class="iso-section">
					<ul class="filter-wrapper clearfix">
                   		 <li><a href="#" data-filter="*" class="selected opc-main-bg">All</a></li>                   	
                   		 {% for names in name %}
                    		<li><a href="#" class="opc-main-bg" data-filter=".{{ names.name }}">{{ names.name }}</a></li>
						 {% endfor %}
               		</ul>
               		<div class="iso-box-section">
               			<div class="iso-box-wrapper col4-iso-box">
							{% for kategori in category %}
								{% if galeris %}
									{% for galeri in galeris %}
										<div class="iso-box {{kategori.name}} col-md-4 col-sm-6 col-xs-12">
											<a href="images/portfolio-img1.jpg" data-lightbox-gallery="portfolio-gallery"><img src="{{ galeri.image }}" alt="portfolio img"></a>
										</div>	
									{% endfor %}
								{% endif %}								
							{% endfor %}

               			</div>
               		</div>
				</div>
			</div>
		</div>
	</div>
</div>		
		