<div id="pricing">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<h2>Our Pricing</h2>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-10">
				<div class="plan">
					<div class="plan-title">
						<h3>Starter</h3>
						<small>$100 per month</small>
					</div>
					<ul>
						<li>100 GB STORAGE</li>
						<li>10 TB BANDWIDTH</li>
						<li>10 BASIC THEMES</li>
						<li>24-HOUR RESPONSE</li>
					</ul>
					<button class="btn btn-warning">Sign Up</button>
				</div>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-10">
				<div class="plan">
					<div class="plan-title">
						<h3>Business</h3>
						<small>$350 per month</small>
					</div>
					<ul>
						<li>1,000 GB STORAGE</li>
						<li>50 TB BANDWIDTH</li>
						<li>50 PRO THEMES</li>
						<li>1-HOUR RESPONSE</li>
					</ul>
					<button class="btn btn-warning">Sign Up</button>
				</div>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-10">
				<div class="plan">
					<div class="plan-title">
						<h3>Advanced</h3>
						<small>$500 per month</small>
					</div>
					<ul>
						<li>2,000 GB STORAGE</li>
						<li>100 TB BANDWIDTH</li>
						<li>100 PREMIUM THEMES</li>
						<li>30-MIN RESPONSE</li>
					</ul>
					<button class="btn btn-warning">Sign Up</button>
				</div>
			</div>
		</div>
	</div>
</div>