<div id="team">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<h2>People behind the firm</h2>
			</div>
			<div class="col-md-3 col-sm-6">
				<img src="static/img/team1.jpg" class="img-responsive" alt="team img">
				<h3>Jonny Thinker</h3>
				<h4>Creative Director</h4>
			</div>
			<div class="col-md-3 col-sm-6">
				<img src="static/img/team2.jpg" class="img-responsive" alt="team img">
				<h3>Michael</h3>
				<h4>CEO / Cc-founder</h4>
			</div>
			<div class="col-md-3 col-sm-6">
				<img src="static/img/team3.jpg" class="img-responsive" alt="team img">
				<h3>George Walker</h3>
				<h4>Chief Designer</h4>
			</div>
			<div class="col-md-3 col-sm-6">
				<img src="static/img/team4.jpg" class="img-responsive" alt="team img">
				<h3>Mary Sandar</h3>
				<h4>UX Specialist</h4>
			</div>
		</div>
	</div>
</div>